<a href="https://colab.research.google.com/github/nzosorno/python_foundation/blob/main/Lesson_2_Python_Input_Output_and_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Output in Python a.k.a print()**

In [ ]:
print('Hello Redi School')

Hello Redi School

print(object= separator= end= file= flush=)

- object - value(s) to be printed
- sep (optional) - allows us to separate multiple objects inside print().
- end (optional) - allows us to add add specific values like new line "\n", tab "\t"

In [ ]:
print('Good Morning!')
print('It is rainy today')

Good Morning!
It is rainy today

In [ ]:
# print with end whitespace
print('Good Morning!', end= ' ')

print('It is rainy today')

Good Morning! It is rainy today

In [ ]:
# print with sep= '. '
print('New Year', 2024, 'See you soon!', sep= '. ')

New Year. 2024. See you soon!

In [ ]:
n = 300
m = n
n = 500
print(m - n)

x = y = z = 300

-200

# **Input in Python a.k.a input()**

In [ ]:
# using input() to take user input
age = input('Enter your age: ')

print('Your age is:', age)

print('Data type of num:', type(age))

Enter your age: 31
Your age is: 31
Data type of num: <class 'str'>

# Data types:

Exercise: Exponential calculation
Write a program that takes an input x as integer from the user and run the following calculation: x³

Print the result for x³

In [ ]:
x = int(input('Enter a number '))
print(x * x * x)

Enter a number3
27

Practicing Data types

In [ ]:
this_is_a_variable = 56
ThisIsA

###Exercise: BMI Calculator
Write a program that calculates the BMI (Body Mass Index) for the user. Ask the user to provide his/her weight (kg) and height (cm).

How to calculate BMI:

BMI = weight_kg / (height_cm/100)²

Print the result as follows: print(f"Your BMI is {BMI}")

Exercise: Multiple inputs and string concatenation
Write a program with two inputs, that ask the user for

his/her first name
his/her last name
Print the two inputs as a concatenated string, e.g.: "Your name is Ben Hanson"